* {
    margin: 0;
    padding: 0;
}
body {
    background: #ddd;
    font-family: Arial, sans-serif;
    color: #ddd;
}
input {
    border: none;
    width: 25px;
}
.mediaPlayer {
    width: 600px;
    border-color: 1px solid #ddd;
    background-color: #eee;
    box-shadow: 0px 0px 3px #000;
    margin: 60px auto;
    box-sizing: border-box;
    position: relative;
}
.video {
    background: #1b1b1b;
}
.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2147483647; /*显示自定义控件*/
}
.controls > div {
    display: inline-block;
    float: left;
    height: 30px;
    padding: 5px 0 0 5px;
}

.time-progress > div{
    display: inline-block;
}
#video-progress, #video-voice {
    display: inline-block;
    position: relative;
    height: 6px;
    border-radius: 4px;
    background-color: #ddd;
}
#video-progress {
    width: 200px;
}
#video-voice {
    width: 100px;
}
#progress {
    position: absolute;
    height: 6px;
    background-color: lightblue;
}
#handle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: lightblue;
    position: absolute;
    left: 0;
    top: -5px;
    cursor: pointer;
}

/*隐藏浏览器自身的控件
    shadow dom的概念
*/
video::-webkit-media-controls {
    display: none !important;
}